<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test" verbose="1" >
    <listeners>
        <listener class-name="com.github.Chestaci.listeners.TestListener"/>
    </listeners>
    <test name="UITests"  >
        <packages>
            <package name="com.github.Chestaci"/>
        </packages>
    </test>
</suite>