<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suites" thread-count="2" parallel="tests">
    <listeners>
        <listener class-name="com.github.Chestaci.listeners.TestListener"/>
    </listeners>
    <test name="way2automationTests"  >
        <packages>
            <package name="com.github.Chestaci.way2automation_test"/>
        </packages>
    </test>
    <test name="sqlTests">
        <packages>
            <package name="com.github.Chestaci.sql_test"/>
        </packages>
    </test>
</suite>